.CodeMirror {
    border: 1px solid #ddd;
    background: #ffe;
    height: auto;
}
.CodeMirror-scroll {
    max-height: 300px;
    min-height: 200px;
}
.controls {
    padding: 10px 0px;
}
canvas {
  border: 5px solid #eee;
  width: 200px;
  height: 200px;
}
.code-wrapper {
    min-height: 200px;
}

.clearfix {
  clear: both;
}
.livecode-editor {
  margin: 20px 0px;
  clear: both;
}
.code-editor {
  display: flex;
  flex-direction: row;
}

.code-wrapper {
    min-width: 300px;
    flex: 1;
}
.canvas-wrapper {
    width: 200px;
    padding-left: 10px;
}

button {
  cursor: pointer;
  background: #eee;
  border: 1px solid #ddd;
  padding: 5px 10px;
}

@media (max-width: 600px) {
  .code-editor {
      display: block;
  }
  .canvas-wrapper {
    padding-top: 10px;
    padding-left: 0px;
  }
  .code-wrapper {
    min-height: 50px;
  }
  .CodeMirror {
    min-height: 50px;
  }
}

.hidden {
  /* display: none; */
}

.hline {
  position: absolute;
  top: 100px;
  left: 0px;
  border-top: 1px dotted red;
  width: 200px
}

.vline {
  position: absolute;
  top: 0px;
  left: 100px;
  height: 200px;
  border-left: 1px dotted blue;
}

.tooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  overflow: visible;
  width: 200px;
}


canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 210px;
  height: 210px;
  cursor: crosshair;
}

.canvas-wrapper {
  position: relative;
}

.output {
  overflow-x: auto;
  width: 200px;
  white-space: pre-wrap;
  word-wrap: break-word;
}